<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>dcloud_appkey</key>
	<string>363800bbd01eb69aa9e76821d1b596ac</string>
	<key>dcloud_uninview_background</key>
	<true/>
	<key>dcloud_uniplugins</key>
	<array>
		<dict>
			<key>hooksClass</key>
			<string>DCRichAlertProxy</string>
			<key>plugins</key>
			<array>
				<dict>
					<key>class</key>
					<string>DCRichAlertModule</string>
					<key>name</key>
					<string>DCloud-RichAlert</string>
					<key>type</key>
					<string>module</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>getui</key>
	<dict>
		<key>appid</key>
		<string>去官方网站申请对应的appid</string>
		<key>appkey</key>
		<string>去官方网站申请对应的key</string>
		<key>appsecret</key>
		<string>去官方网站申请对应的值</string>
	</dict>
</dict>
</plist>
